{
	"include": [ "src/**/*.js" ],
	"exclude": ["src/hof/resilientTimed.js"],
	"require": [ "@babel/register", "core-js/stable" ],
	"sourceMap": false,
	"instrument": false,
	"reporter": [ "text", "lcov" ]
}