{
	"include": [ "src/**/*.js" ],
	"exclude": ["src/hof/resilientTimed.js"],
	"require": [ "babel-register", "babel-polyfill" ],
	"sourceMap": false,
	"instrument": false,
	"reporter": [ "text", "lcov" ]
}